
<div style="row"></div>
<br>
<div style="row"><h4>Cadastrar - Agendamento de Potenciais Clientes</h4></div>
<br><br>
<div style="row"><h5>Sistema utilizado para agendamento de serviços.</h5></div>
<br><br>
<div style="row">
 <div class="row text-center bg-primary">
    <div class="col text-light p-2">Nome</div>
    <div class="col text-light p-2">Telefone</div>
    <div class="col text-light p-2">Origem</div>
    <div class="col text-light p-2">Data</div>
    <div class="col text-light p-2">Observações</div>
  </div>
 </div>





