
<div style="row"></div>
<br>
<div style="row"><h4>Cadastrar - Agendamento de Potenciais Clientes</h4></div>
<br><br>
<div style="row"><h5>Sistema utilizado para agendamento de serviços.</h5></div>
<br><br>
<div style="row">
    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome:</label>
    <input type="email" class="form-control" id="exampleInputEmail1">
  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Telefone:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" >
  </div>
  <label for="form-select" class="form-label">Origem:</label>
    <select class="form-select" aria-label="Default select example">
  <option selected>Celular</option>
  <option value="1">Celular</option>
  <option value="2">Residencial</option>
</select>
<br>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Data:</label>
    <input type="date" class="form-control" id="exampleInputEmail1" >
  </div>
  <br><div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Observações</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<br>

    <button type="submit" class="btn btn-primary">Cadastrar</button>



    </form>
</div>

  
</div>